# Visual Studio Files
*.sdf
*.opensdf
*.suo
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.lastbuildstate
*.unsuccessfulbuild
*.user
build/vs2012/shaders/*

# Binaries
*.exe
*.dll
*.lib

# Libraries
lib/*

# Assets
*.tga
*.bmp
*.png
*.obj*
*.avi
*.prt*
*.ao*
